<!-- Pasek nawigacyjny -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f0f0;">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="/home">System Rezerwacji Wizyt</a>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Opcja "Zarezerwuj wizytę" -->
        <li class="nav-item mx-3" *ngIf="isLoggedIn">
          <a class="nav-link text-primary font-weight-bold" routerLink="/reserve">
            <i class="fas fa-calendar-plus"></i> Zarezerwuj
          </a>
        </li>
        <!-- Opcja "Zarezerwowane wizyty" -->
        <li class="nav-item mx-3" *ngIf="isLoggedIn">
          <a class="nav-link text-success font-weight-bold" routerLink="/reserved">
            <i class="fas fa-list-ul"></i> Zarezerwowane
          </a>
        </li>
        <!-- Opcja "Pomoc" -->
        <li class="nav-item mx-3" *ngIf="isLoggedIn">
          <a class="nav-link text-info font-weight-bold" routerLink="/help">
            <i class="fas fa-question-circle"></i> Pomoc
          </a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <!-- Wyświetl "Wyloguj" dla zalogowanych użytkowników -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="btn btn-outline-danger" (click)="logout()">Wyloguj</button>
      </li>
      <!-- Wyświetl "Zaloguj" i "Zarejestruj się" dla niezalogowanych użytkowników -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-primary mr-2" (click)="navigateToLogin()">
          Zaloguj
        </button>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-secondary" (click)="navigateToRegister()">
          Zarejestruj się
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Główna zawartość -->
<div class="container mt-5 d-flex justify-content-center">
  <div class="col-lg-10 col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
