<!-- Pasek nawigacyjny -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f0f0; position: relative;">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="/home">System Rezerwacji Wizyt</a>

    <!-- Przycisk "Zarezerwuj" i "Zarezerwowane" na środku paska -->
    <div class="position-absolute w-100 text-center">
      <ul class="navbar-nav d-inline-flex">
        <li class="nav-item mx-3" *ngIf="isLoggedIn">
          <a class="nav-link text-primary font-weight-bold" routerLink="/reserve">
            <i class="fas fa-calendar-plus"></i> Zarezerwuj
          </a>
        </li>
        <li class="nav-item mx-3" *ngIf="isLoggedIn">
          <a class="nav-link text-success font-weight-bold" routerLink="/reserved">
            <i class="fas fa-list-ul"></i> Zarezerwowane
          </a>
        </li>
      </ul>
    </div>

    <!-- Przyciski po prawej (Wyloguj) -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="btn btn-outline-danger" (click)="logout()">Wyloguj</button>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-primary mr-2" (click)="navigateToLogin()">
          Zaloguj
        </button>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-secondary" (click)="navigateToRegister()">
          Zarejestruj się
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Główna zawartość -->
<div class="container mt-5 d-flex justify-content-center">
  <div class="col-lg-10 col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
