/* Wycentrowanie kontenera na środku ekranu */
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70%; /* Szerokość głównego kontenera */
}

/* Centrowanie tabeli i formularzy wewnątrz kontenera */
.card {
  width: 100%; /* Dopasowanie do szerokości kontenera */
  margin-bottom: 20px;
}

/* Poprawki dla tabeli */
.table {
  margin: auto; /* Wycentrowanie tabeli */
  text-align: center;
}

.thead-dark th {
  text-align: center;
}
